<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Details</title>
    <link href="src/output.css" rel="stylesheet">
    <script src="https://cdn.tailwindcss.com"></script>
</head>
<body>
    <div class="w-screen h-screen">
        <nav class="w-full h-[10%] flex items-center justify-between pl-5">
            <span class="font-medium text-2xl">Khaatabook</span>
            <div class="h-full flex items-center gap-16 font-semibold w-[400px]">
                <a href="/"><span class=" rounded-b-md">Home</span></a>
                <a href="/createHisaab" class="cursor-pointer"><span>Create New Hisaab</span></a>
                <a href="/logOut" class="cursor-pointer bg-blue-600 p-2 hover:p-2.5 text-white rounded-md text-xs">Log Out</a>
            </div>
        </nav>
        <div class="pl-5 pr-20 mt-5">
            <div class="flex items-start gap-5 h-12">
                <% if(isEncrypted=="on") {%>

                    <div class="border w-32 flex items-center gap-2 bg-red-600 text-white p-1 px-2 rounded-md">
                        <img class="w-4" src="/svg/lock.svg" alt="abcd">Encrypted
                    </div>
                    <div class="bg-gray-300 flex items-center text-white p-2 rounded-md">
                        <img class="w-4" src="/svg/closed.svg" alt="">
                    </div>
                <% } else {%>
                    <div class="border w-32 flex items-center gap-2 bg-green-700 text-white p-1 px-2 rounded-md">
                        <img class="w-4" src="/svg/tick.svg" alt="abcd">Available
                    </div>
                <%}%>
                <!-- <a href="/share/<%=fileName%>" class="flex gap-2 items-center bg-blue-700 p-1 text-white px-2 cursor-pointer rounded-md">
                    <img class="w-4" src="/svg/share.svg" alt=""> Share as a link
                </a> -->
                <div class="flex gap-2 items-center bg-blue-700 p-1 text-white px-2 cursor-pointer rounded-md" onclick="shareable('<%=isShareable%>')">
                    <img class="w-4" src="/svg/share.svg" alt=""> Share as a link
                </div>

                <div class="flex justify-between w-[70px] h-10 items-center">
                    <%if(isEditable=="on"){%>
                        <a href="/edit/<%= fileName%>"><img title="Edit" class="w-5 hover:w-6" src="/svg/pen.svg" alt=""></a>
                    <%} else{%>
                        <div onclick="notEditable()"><img class="w-5 hover:w-6" src="/svg/pen.svg" alt=""></div>
                    <%}%>
                        <a href="/delete/<%= fileName%>" class="bg-slate-100 rounded-md p-1"><img title="Delete" id="delete" class=" hover:w-7 bg-white rounded-full" src="/svg/delete.svg" alt=""></a>
                </div>

            </div>

           <div class="flex flex-col gap-4">
                <div class="text-sm text-gray-500">Created on <%=date%></div>
               
                <div class="flex flex-col gap-1">
                    <div class="text-lg font-semibold"><%=fileName%></div>
                    <div class=""><%= data %></div>
                </div>
                 <!-- <a href="/edit/<%= fileName%>" class="text-blue-700">Edit this Hisaab</a> -->
           </div>

           <div class="w-1/2 mt-10 hidden flex-col" id="shareable">
                <div class=" p-1.5 px-5 bg-blue-700 flex justify-between text-white rounded-t-md">
                    <span>For <%=fileName%></span>
                    <span  id="copyLink" class="cursor-pointer">Copy Link</span>
                </div>
                <div class="flex items-center justify-center h-16 border-2 rounded-b-md">
                    <a href="http://localhost:3000/displayRecord/<%=fileName%>" target="_blank" id="link" class="text-blue-700 border-b text-sm border-b-blue-700">http://localhost:3000/displayRecord/<%=fileName%></a>
                </div>
           </div>
            
        </div>
        
    </div>
    

    <script>

        const notEditable=()=>{
            alert('Not Ediatble')
        }
        const shareable=(isShareable)=>{
            if(isShareable=='on')
            {
                console.log(isShareable)
                document.getElementById('shareable').style.display="flex";
            }
            else
            {
                console.log("<%=shareable%>")
                alert('File is Unshareable')
            }
        }
        
        document.getElementById('copyLink').addEventListener('click', function() {
            const textToCopy = document.getElementById('link').textContent;
            navigator.clipboard.writeText(textToCopy).then(function() {
                console.log('Text copied to clipboard successfully!');
                alert('Text copied to clipboard!');
            }).catch(function(error) {
                console.error('Could not copy text: ', error);
            });
        });
    </script>
</body>
</html>