<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Khatabook</title>
    <link href="src/output.css" rel="stylesheet">
    <script src="https://cdn.tailwindcss.com"></script>
</head>
<body>
    <div class="w-screen h-screen">

        <nav class="w-full h-[10%] flex items-center justify-between pl-5">
            <span class="font-medium text-2xl">Khaatabook</span>
            <div class="h-full flex items-center gap-16 font-semibold w-[400px]">
                <a href="/"><span class="border-b-4 border-blue-700 rounded-b-md">Home</span></a>
                <a href="/createHisaab" class="cursor-pointer"><span>Create New Hisaab</span></a>
                <a href="/logOut" class="cursor-pointer bg-blue-600 p-2 hover:p-2.5 text-white rounded-md text-xs">Log Out</a>
            </div>
        </nav>



        <main class="w-full p-5 h-[90%]">

            <div class=" h-20 flex items-center gap-5">
                <button class="flex bg-gray-200 rounded-md p-2 w-28 items-center justify-center gap-1">Filters<img class="w-4" src="svg/filter.svg"></button>
                <form action="/findByDate" method="post"><button type="submit" class="flex bg-gray-200 rounded-md p-2 w-28 items-center justify-center gap-1">By date <input name="date" type="date" class="w-5 cursor-pointer~ bg-gray-200" required></button></form>
                <select name="sort" class="w-36 p-2 rounded-md bg-blue-700 text-white border-none outline-none" id="">
                    <option class="bg-white text-black" value="Newest">Newest First</option>
                    <option class="bg-white text-black" value="oldest">Oldest First</option>
                </select>
            </div>

            <div class="flex flex-wrap mt-5 gap-5">

                <% files.forEach(file =>{ %>
                    <% if(hisaabDetails[file].record.isEncrypted=="on") {%>
                        <form action="/displayEncryptedRecord/<%= file%>" method="post" class="bg-gray-100 w-[380px] p-3 h-[130px] rounded-md hover:bg-gray-200 flex flex-col gap-2">
                            <div class="flex justify-between">
                                <div class="border w-32 flex items-center gap-2 bg-red-600 text-white p-1 px-2 rounded-md">
                                        <img class="w-4" src="svg/lock.svg" alt="">Encrypted
                                </div>
                                <span class="text-gray-400 text-sm">Created on <%= hisaabDetails[file].record.dateCreated%></span>
                            </div>
                        
                                <span class="text-lg font-medium w-1/2"><%= file.split('.')[0]%></span>
                                <!-- <img id="right" class="w-7 bg-white rounded-full p-1" src="svg/right.svg" alt=""> -->
                            

                            <div class="text-gray-400 flex justify-between">
                                <button type="submit">View hisaab</button> <input type="password" class="text-xs p-2 rounded-md bg-white required" name="ePassword" placeholder="Enter Your Passcode" required>
                            </div>
                            
                            
                            
                        </form>
                       

                    <% } else {%>
                        <div class="bg-gray-100 w-[380px] p-3 h-[130px] rounded-md hover:bg-gray-200 flex flex-col gap-2">
                            <div class="flex justify-between">
                                <div class="border w-32 flex items-center gap-2 bg-green-600 text-white p-1 px-2 rounded-md">
                                    <img class="w-4" src="svg/tick.svg" alt="">Available
                                </div>
                                <span class="text-gray-400 text-sm">Created on <%= hisaabDetails[file].record.dateCreated%></span>
                            </div>
                            
                                <span class="text-lg font-medium"><%= file.split('.')[0]%></span>
                                <!-- <img id="right" class="w-7 bg-white rounded-full p-1" src="svg/right.svg" alt=""> -->

                            <a href="/displayRecord/<%= file%>" class="text-gray-400">
                                View hisaab
                            </a>
                            
                            <!-- <div class="flex justify-between w-[70px] h-full items-center">
                                <a href="/edit/<%= file%>"><img class="w-5 hover:w-6" src="svg/pen.svg" alt=""></a>
                                <a href="/delete/<%= file%>"><img id="delete" class="w-8 hover:w-9 bg-white rounded-full p-1" src="svg/delete.svg" alt=""></a>
                            </div> -->
                            
                        </div>
                    <%}%>
                <% }) %>
                

                
            </div>
            
        </main>
       
    </div>




    <script>

        if("<%=passwordWrong%>")
        {
            alert('Incorrect Password')
        }
    //    document.getElementById('record').addEventListener('mouseover',()=>{
       
    //     document.getElementById('right').style.width='31px'
    //     document.getElementById('right').style.boxShadow='0px 0px 5px 5px green'
    //    })

    //    document.getElementById('record').addEventListener('mouseout',()=>{
       
    //     document.getElementById('right').style.width='28px'
    //     document.getElementById('right').style.boxShadow='none'
    //   })
    </script>
</body>
</html>